@charset "utf-8";
html{
}

body{
}

img{
width: 55px;
height: 55px;
}
li{
    list-style-type: none;
}

.mainlogo{
width: 150px;
height: 80px;
}

.wrapper{
    margin: 0 26px;
    padding: 0 15px;
}

.clear::after{
    content: "";
    clear: both;
    display: block;
}

/* header */
header{
    background:#3C4767;
}

/* main content */
#row{
    display: flex;
}
#container{
    flex: 0 0 80%;
}

/*side-bar*/
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
}

#confirm {
    margin: 20px 26px 0 0;
    padding: 0 15px 0 15px;
}

.header-name{
    color: #ffffff;
}

.side-name{
    font-size: 17px;
}

.follow-number{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.number{
    margin: 10px 0 0 15px;
}

.count{
    margin: 10px 0 0 0px;
}

.btn{
        background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.btn-sidebar {
    display: block;
    margin: 26px 0 13px auto;
    width: 138px;
    padding: 11px 0;
    text-align: center;
    font-size: 14px;
    background: #3C4767;
    line-height: 21px;
    border-radius: 5px;
}

.search-link{
    border-top: 0.5px solid #C0C0C0;
}

.btn-search {
    display: block;
    margin: 30px auto;
    width: 138px;
    padding: 11px 0;
    text-align: center;
    font-size: 14px;
    background: #3C4767;
    line-height: 21px;
    border-radius: 5px;
}

.btn-sidebar a,
.btn-search a {
    display: block;
    color: #FFFFFF;
}

.btn-sidebar:hover,
.btn-search:hover {
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
}

.follow-list-text {
    margin: 0; /* 要素の外側の余白を0に定義 */
    padding: 0; /* 要素の内側の余白を0に定義 */
}

.follower-list-text {
    margin: 0; /* 要素の外側の余白を0に定義 */
    padding: 0; /* 要素の内側の余白を0に定義 */
}

.sidebar-text {
    margin-bottom: 5px;
}

.left-text {
    float: left;
    padding-left: 1em;
    margin-bottom: 15px;
}

.right-text {
    position: absolute;
    left: 150px;
    margin-bottom: 15px;
}

/* モーダル編集画面 */
.modal-inner{
    display: none;
}
.inner {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.edit_text{
    resize: none;
  width:300px;
  height:200px;
}

.inner-content{
  text-align: center;
  margin: 0;
  padding: 0;
}

.inner-text{
  font-size: 1.6rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modalClose{
  display: inline-block;
  padding: 20px 40px;
  background-color: #00afcc;
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

.modalClose:hover{
  color: #00afcc;
  background-color: #e4e0e1;
  transition: 0.6s;
}


/*トップ左側*/
#header-left{
    float: left;
    text-align: left;
    margin: auto;
}

/*トップ右側*/
#header-right{
    display: flex;
    float: right;
    margin: auto;
    vertical-align: middle;
    position: relative;
    text-align: right;
}

.icon{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/* 投稿フォーム */
.post-box{
    border-bottom: 5px solid #C0C0C0;
    position: relative;
}

.post-list{
    border: 0.5px solid #C0C0C0;
    padding-bottom: 30px;
    display: flex ;
    position: relative;
}

.wrap-post {
    display: flex;
    width: 100%;
    padding: 0 15px 12.5px 17px;
}

.wrap-post-icon{
    width: 51px;
    height: 51px;
    margin-top: 28px;
    border-radius:50%;
}

.wrap-post-form {
    width: 60%;
    margin: 21px 19px 0 19px;
    border: none;
}

.wrap-post-form-btn {
    position: absolute;
    right:300px;
    bottom: 10px;
}


.btn-post {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.btn-post:hover {
    opacity: 0.5;
}

.post-img {
    width: 41px;
    height: 41px;
}

.list-icon{
    width: 51px;
    height: 51px;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 28px;
    border-radius:50%;
}

.list-name{
    display: inline;
    position: absolute;
     margin-top: 30px;
     font-size: 0.9rem;
     color: #77787B;
}

.list-post{
    display: inline;
    margin-top: 5px;

}

.list-at{
    white-space: nowrap;
    margin: 30px 30px 0 0;
}

.edit-image .delete-image{
    left: 100px;
}

.modal-btn{
    display: flex;
}

.post-right{
    position: absolute;
    right: 0;
    top: 0;
}
/* 編集 */
.modal-main {
    display: none;
}

.inner {
    width: 100%;
    height: 100%;
    background-color: #0000004D;
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.inner-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 42%;
    background-color: #ffffff;
    border: 1px solid #707070;
    border-radius: 5px;
    /* text-align: center; */
    padding: 0;
  }

.inner-items {
    width: 90%;
    text-align: right;
  }

.inner-text{
    font-size: 1.6rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .modalClose{
    /* display: inline-block; */
    width: 55px;
    height: 55px;
    background-color: #FFFFFF;
    border: none;
  }

  .form-edit {
    resize: none;
    width: 90%;
    height: 152px;
    color: #6C6C6C;
    background-color: #FFFFFF;
    border: 1px solid #6C6C6C;
    border-radius: 5px;
    margin-top: 36px;
    margin-bottom: 10px;
  }

/* 検索フォーム */
.search-box{
    border-bottom: 5px solid #C0C0C0;
    display: flex;
}

.search-p{
    width: 60px;
    transform: rotateY( 180deg );
    padding: 5px 9px 5px 0;
    margin: auto;
    margin-left: 0px;
}

.search-p:hover {
    opacity: 0.5;
}

 .wrap-search {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 15px 0 15px 78px;
}

.search-word{
    color: #77787B;
    margin: auto;
    margin-left: 0px;
    font-size: 1.1rem;
}

/* .btn-search-form {
    background-color: #3C4767;
    border: none;
    border-radius: 5px;
    padding: 5px 9px 5px 8.5px;
    margin: auto;
}

.btn-search-form:hover {
    opacity: 0.5;
} */

.form-search {
    width: 391px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #707070;
}

.form-search::placeholder {
    color: #D7D7D7;
    font-size: 18px;
}

/* ユーザー一覧 */

.wrap-userlist {
    display: flex;
    width: 70%;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 60px;
}


.wrap-userlist-item:last-child {
    margin-left: auto;
}

.wrap-userlist-item img {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 28px;
    border-radius: 50%;
    border: 1px solid #D7D7D7;
    width: 51px;
    height: 51px;
}

.wrap-userlist-item p {
    font-size: 18px;
    margin:40px 15px ;
}

.btn-follow {
    width: 138px;
    height: 43px;
    color: #FFFFFF;
    background-color: #4B71CABF;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 25px;
}

.btn-unfollow {
    width: 138px;
    height: 43px;
    color: #FFFFFF;
    background-color: #B95656;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 25px;
}

.btn-follow:hover,
.btn-unfollow:hover {
    opacity: 0.5;
}

/* プロフィール編集 */


.wrap-profile-icon {
    margin: 0 27px 0 0;
}

.wrap-profile-icon img {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 1px solid #D7D7D7;
}

.form-group {

    margin: 39px auto;
    text-align: center;
    width: 80%;
}

.form-name{
    display: flex;
}

.form-name p{
    margin-top: 18px;
}


.form-profile {
    width: 280px;
    height: 30px;
    background: #F2F2F2;
    border-style: none none solid;
    margin: 5px 0 37px 150px;
}

.form-profile-newpass{
    width: 280px;
    height: 30px;
    background: #F2F2F2;
    border-style: none none solid;
    margin: 5px 0 37px 120px;
}

.form-profile-pass {
    width: 280px;
    height: 30px;
    background: none;
    border-style: none none solid;
    margin: 5px 0 37px 160px;
}

.bio{
    height:110px;
    margin:5px 0 37px 210px;
}

.form-mail{
    display: flex;
}

.form-mail p{
    margin: 15px 0 0 80px;
}

.form-pass{
    display: flex;
    margin: 15px 0 15px 0;
}

.form-pass p{
    margin: 15px 0 0 80px;
}

.form-newpass{
    display: flex;
}

.form-newpass p{
    margin: 15px 0 0 80px;
}

.form-bio{
    display: flex;
}

.form-bio p{
    margin: 15px 0 0 80px;
}

.form-img{
    display: flex;
}

.form-img p{
    margin: 15px 0 0 80px;
}

.btn-profile-edit {
    background: #7B9979;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    border: none;
    width: 138px;
    height: 43px;
    margin-left: 152px;
    margin-bottom: 50px;
}

.btn-profile-edit:hover {
    opacity: 0.5;
}

ul li {
    list-style: none;
}

.profile-label {
    margin-right: 52px;
    width:100px;
    float: left;
}

input[type="file"] {
   padding: 40px 80px;
}


/* フォローリスト */

.followlist-box{
    border-bottom: 5px solid #C0C0C0;
}

.follow-list {
    display: flex;
    width: 90%;
    margin: 30.5px 27.5px 21px 100px;
}

.follow-title{
    font-size: 1.7rem;
    color: #72777B;
    margin: 30px 50px;
}

.followlist-icon {
    border: 1px solid #D7D7D7;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    margin: 0 10px 10px 20px;
}

.post-list{
    position: relative;

}

/* 相手のプロフィール */

.wrap-user {
    display: flex;
    position: relative;
    padding: 42px 0 0 83px;
    border-bottom: 5px solid #C0C0C0;
}

.wrap-user-left{
    display: flex;
}

.wrap-fp-name{
    display: flex;
}

.user-icon {
    border: 1px solid #D7D7D7;
    border-radius: 50%;
    width: 51px;
    height: 51px;
    margin: 0 33px 10px 0;
}

.user-name {
    font-size: 18px;
}

.user-bio {
    font-size: 18px;
}

.wrap-user-right {
    position: absolute;
    right: 30px;
    bottom: 15px;
}

.wrap-fp-bio{
    display: flex;
}

.wrap-fp-bio p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.name-title{
    margin-right: 50px;
}

.bio-title{
    margin-right: 70px;
}

/*アコーディオン全体*/
.accordion-area{
  position: fixed; /*表示位置を固定*/
  z-index: 2; /*重ね順を変更*/
  top: 11%; /*表示位置を指定*/
  left: 77%; /*表示位置を指定*/
  text-align: center; /*テキストを中央揃え*/
  width: 20%;
  height: 32%;
  transform: translateY(-200%); /*ナビを上に隠す*/
  transition: all 0.6s; /*アニメーションの時間を指定*/
  border: 3px solid #C0C0C0;
}

.accordion-area.active{
  transform: translateY(0%);
}




/*アコーディオンタイトル*/
.title {
    position: relative;  /* 追加 */
	height: 50px;
	background-color: #3C4767;
	color: #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}

/*アイコンの矢印*/

.title:after{
    content: "";
	display: inline-block;
	position: absolute;
	top: 45%;
	right: 30px;
	width: 10px;
	height: 10px;
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: translateY(-50%) rotate(45deg);
	transition: .3s;

}

/*　closeというクラスがついたら形状変化　*/
.title.close:after{
    transform: rotate(225deg);
}

/*アコーディオンで現れるエリア*/
.accordion-area {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
  margin:0 3% 3% 3%;
}

.accordion-area a{
    display: block;
    padding-top:13%;
    color: #000000;
}

.accordion-area a:hover{
    color: #fff;
}

.box-title{
    border:  0.5px solid #C0C0C0;
    height: 33%;
}

.box-title:hover{
    background-color: #e45e00;
    transition: 0.7s;
}
